body {
  background-color: #F2EEE0;
}

h2, h3 {
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
}

h2 {
  size: 1em;
  font-weight: 900;
  color: #C72230
}

h3 {
  size: 1em;
  font-weight: 400;
  color: #333036;
}

nav a, a:visited {
  color: #333036;
  text-decoration: none;
}

form, section {
  margin-top: 10px;
}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: #C72230;
}

button {
  height: 30px;
  width: 100px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #C72230;
  border: 1px solid #333036;
  color: #F2EEE0;
  font-weight: 400 
}

button:hover {
  color: #333036;
  background-color: #F2EEE0;
  border: 1px solid #C72230;
}

.list-results .comment-count {
  text-align: right !important;
}

.list-results {
  list-style-type: none;
  margin: 20px;
  padding: 10px;
  border: 1px solid #333036;
}

.time-stamp, .comment-count, .author-name {
  margin: 20px;
  padding: 5px;
  font-size: .75em;
}

#nav {
  text-align: center;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline
}

#search,
#detail,
#create,
#edit {
  /* display: none; */
}